<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tutorial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A764F9F81CADB2870077BD95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A764FA0F1CADB2870077BD95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A764FA1A1CADB2870077BD95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
